<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="server_port" value="8001"/>
    <add key="keepalive_port" value="8002"/>

    <add key="serverDirRoot_path" value="c:\ServerDir\"/>
    <add key="serverLog_path" value="c:\ServerDir\Log\serverLog.txt"/>
    <add key="nOfMaxVersionToSaveForUser" value="5"/>
    
    <add key="server_certificate" value="c:\certificate.pfx"/>
    <add key="server_name" value="ServerPDS"/>

    <add key="db_address" value="localhost"/>
    <add key="db_user" value="root"/>
    <add key="db_password" value="admin"/>
    <add key="db_name" value="gestionebackup"/>
  </appSettings>
</configuration>